**/.terraform/*
.env
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json
github-actions-sa-key.json
__pycache__/
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
__*
*Zone.Identifier